html,body {
height:100%;
}
h1 {
    color:green;
    text-align: center;
}

table {
    border:2px solid violet;    
    border-collapse: collapse;
}


tr,td {
    border:2px solid violet;
    border-collapse:collapse;
}
div { height:20%}

#topline {
background-color: red;
}
#topmidline {
    background-color: orange;
    }
#midline {
    background-color: yellow;
    }
#midbottomline {
        background-color: green;
        }
#bottomline {
     background-color: blue;
    }

    



